@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* ------------------- Fonts Face ---------------------- */

@font-face {
  font-family: 'Fustat';
  src: url('/fonts/Fustat/Fustat-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Jolly Lodger';
  src: url('/fonts/Jolly_Lodger/JollyLodger-Regular.ttf') format('truetype');
}

/* ------------------- Fonts Face ---------------------- */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Fustat', Arial, Helvetica, sans-serif;
}

.caption_title {
  font-family: "Jolly Lodger" !important;
}

/* ----------------- Scrollbar ------------------- */

/* Hide scrollbar for Webkit browsers (Chrome, Safari, Edge) */
.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for Firefox */
.scrollbar-hidden {
  scrollbar-width: none;
}

/* ----------------- Scrollbar ------------------- */


/* --------------- Screen ------------------ */

@media (min-width: 1440px) {
  .screenFrame {
    --screenContentWidth: 1400px;
    padding-left: calc((100vw - var(--screenContentWidth)) / 2);
    padding-right: calc((100vw - var(--screenContentWidth)) / 2);
  }
}